<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon_alc.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>
            Alkohol
        </title>
    </head>
    <body>
        <div class = "page"> <!-- Anfang Page container-->


            <div class = "header-p" id = "header-alc"><!-- Anfang header container--> 

                
                <div class= "header_wrap">
                    
               <img id = "menbutton" class = "menbutton" src="../static/images/Hamburger_icon.svg.png" alt= "Menü-Button" >

                <a href="/profile" class="headerlink"><h1>REHUB</h1></a>
                <div class="filler">
                   <a class= "header-link-logout" href="/logout"><img class = "logout-button" src="../static/images/logout_icon.png"></a> 
                </div>
            </div>
            </div><!-- Ende header Container-->

            <script>

            document.getElementById("menbutton").addEventListener("click", toggleMenu);

            function toggleMenu(){
                var width = document.getElementById("SideNavigation").style.width;
                if(width >= "1px"){
                   return closeNav();
                }
                return openNav();
            
            }
            
            function openNav(){    
                document.getElementById("SideNavigation").style.width = "370px";
            }

            function closeNav(){
                document.getElementById("SideNavigation").style.width = "0";   
            }
                   
        </script>

            <div id = "SideNavigation" class="sidenav-alc">
                <a class = "nav-link" href="/profile">Profil</a>
                <a class = "nav-link"href="/statistic">Statistik</a>
                <a class = "nav-link"href="/caffeine">Koffein</a>
                <a class = "nav-link"href="/alcohol">Alkohol</a>
                <a class = "nav-link"href="/nicotin">Nikotin</a>
            </div>

           <div class="subside-wrapper-caff">
            
            <form class = "substance-form" id = "alcohol-form" method="POST" action="/alcohol_entry">
                <% for(let i = 0; i < alcohol_names.length; i++){ %>
                    
                    <div class="input-fix-caff">
                        <h4 class="input-caption-caff" id = "alc-caption" name="<%= alcohol_names[i].name %>"><%= alcohol_names[i].name %></h4>
                            <% if (alcohol_names[i].name == "Schnaps") {
                                var imagesrc1 = "../static/images/glas_schnaps_klein_icon.png"; 
                                var imagesrc2 = "../static/images/glas_schnaps_mittel_icon.png";
                                var imagesrc3 = "../static/images/glas_schnaps_groß_icon.png";
                                var value1 = 20 * 100;
                                var value2 = 40 * 100;
                                var value3 = 60 * 100;
                                var under1 = "20ml";
                                var under2 = "40ml";
                                var under3 = "60ml"; 
                                
                            } 
                            else if (alcohol_names[i].name == "Likör") {
                                imagesrc1 = "../static/images/glas_likör_klein_icon.png"; 
                                imagesrc2 = "../static/images/glas_likör_mittel_icon.png";
                                imagesrc3 = "../static/images/glas_likör_groß_icon.png";
                                under1 = "80ml";
                                under2 = "100ml";
                                under3 = "200ml"; 
                                value1 = 80*100;
                                value2 = 100*100;
                                value3 = 200*100;

                                } 
                            else if (alcohol_names[i].name == "Wein") {
                                imagesrc1 = "../static/images/glas_wein_klein_icon.png"; 
                                imagesrc2 = "../static/images/glas_wein_mittel_icon.png";
                                imagesrc3 = "../static/images/glas_wein_groß_icon.png";
                                under1 = "200ml";
                                under2 = "300ml";
                                under3 = "750ml";
                                value1 = 200*100;
                                value2 = 300*100;
                                value3 = 750*100;
                                   
                            }
                            else if (alcohol_names[i].name == "Bier" || alcohol_names[i].name == "Mischbier") {
                                imagesrc1 = "../static/images/flasche_bier_klein_icon.png"; 
                                imagesrc2 = "../static/images/flasche_bier_mittel_icon.png";
                                imagesrc3 = "../static/images/flasche_bier_groß_icon.png";
                                under1 = "330ml";
                                under2 = "500ml";
                                under3 = "1000ml"; 
                                value1 = 330*100;
                                value2 = 500*100;
                                value3 = 1000*100; 
                            } 
                            
                            %>
                            <button class="caff-ml" id = "alc-ml" name="alc_butt" type="submit"  value="<%= (value1 + (i+1)) %>"><img id = "flasche-bier-klein" class = "tassen" src= "<%= imagesrc1 %>"></button>
                            <p class="under-caff-ml" id = "under-alc"><%= under1 %></p>

                            <button class="caff-ml" id = "alc-ml" name="alc_butt" type="submit" value="<%= (value2 + (i+1)) %>"><img id = "flasche-bier-mittel" class = "tassen" src="<%= imagesrc2 %>"></button>
                            <p class="under-caff-ml" id = "under-alc"><%= under2 %></p>

                            <button class="caff-ml" id = "alc-ml" name="alc_butt" type="submit" value="<%= (value3 + (i+1)) %>"><img id = "flasche-bier-groß" class = "tassen" src="<%= imagesrc3 %>"></button>
                            <p class="under-caff-ml" id = "under-alc"><%= under3 %></p>

                            <div class = "input-ok">
                                <input id="custom-ml-input_alc" class="user-input" type="number" placeholder="100ml" min="0" max="3000" name="custom_ml_alc[]" >
                                <button name="alc_sub" id="alc_ok" class="ok" type="submit" form="alcohol-form" value="<%= (i+1) %>"></button>
                            </div>
                       
           </div> 
           <% } %>
            </form>
                         
            <div class="plus">
                <button class="caff-ml" id="plus" onclick="openForm()">
                    <img id="addProduct-image-alc" class="tassen" src="../static/images/plus.png">
                </button>
            </div>
       </div>
    
       
       <div class = "popup-form" id = "popform-alc">
            
           
           <div class="X"> <button class="ok" id="close" onclick="closeForm()">X</button> </div>
            <form action="/addAlc" class = "popup-form-container" method = "POST">
               
                <h3 class="pop-caption">Neues Produkt</h3>
            
                <div class="pop-text-div">
                <label class ="pop-label" for="newAlc_name">Name</label><br>
                <input type="text" name="newAlc_name">
                    </div>

                <div class="pop-text-div">
                <label class ="pop-label" for="newAlc_content">Alkohol in % </label>
                <input id="alkohol_pro" type="number" name="newAlc_content">
                    </div>
                
                <button type="submit" class="ok">Speichern</button>
                      
            </form>
            
       </div>
       <script>

           function openForm() {
               document.getElementById("popform-alc").style.display = "flex";
           }

           function closeForm() {
                document.getElementById("popform-alc").style.display = "none";
           }

            </script>
        </div>
    </body>
</html>