<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon_caff.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>
            Koffein
        </title>
    </head>
    <body>
        <div class = "page" id= "caff-p"> <!-- Anfang Page container-->


            <div class = "header-p" id="caff-header"><!-- Anfang header container--> 

                
                <div class= "header_wrap">
                    
               <img id = "menbutton" class = "menbutton" src="../static/images/Hamburger_icon.svg.png" alt= "Menü-Button" >

               <a href="/profile" class="headerlink"><h1>REHUB</h1></a>
                <div class="filler">
                   <a class= "header-link-logout" href="/logout"><img class = "logout-button" src="../static/images/logout_icon.png"></a> 
                </div>
            </div>
            </div><!-- Ende header Container-->

            <script>

            document.getElementById("menbutton").addEventListener("click", toggleMenu);

            function toggleMenu(){
                var width = document.getElementById("SideNavigation").style.width;
                if(width >= "1px"){
                   return closeNav();
                }
                return openNav();
            
            }
            
            function openNav(){    
                document.getElementById("SideNavigation").style.width = "370px";
            }

            function closeNav(){
                document.getElementById("SideNavigation").style.width = "0";   
            }
            
          
        </script>

            <div id = "SideNavigation" class="sidenav-caff">
                <a class = "nav-link" href="/profile">Profil</a>
                <a class = "nav-link" href="/statistic">Statistik</a>
                <a class = "nav-link" href="/caffeine">Koffein</a>
                <a class = "nav-link" href="/alcohol">Alkohol</a>
                <a class = "nav-link" href="/nicotin">Nikotin</a>
            </div>

           <div class="subside-wrapper-caff">

                <form class = "substance-form" id = "caffeine-form" method="POST" action="/caffeine_entry">
                    <% for(let i = 0; i < caffeine_names.length; i++){ %>

                        <div class="input-fix-caff">
                            <h4 class="input-caption-caff"><%= caffeine_names[i].name %></h4>

                            <% if(caffeine_names[i].name == "Espresso") { 
                                var imagesrc1 = "../static/images/tasse_espresso_normal_icon.png"; 
                                var imagesrc2 = "../static/images/tasse_espresso_doppelt_icon.png";
                                var imagesrc3 = "../static/images/tasse_espresso_dreifach_icon.png";
                                var under1 = "25ml";
                                var under2 = "50ml";
                                var under3 = "75ml"; 
                                var value1 = 25 * 100;
                                var value2 = 50 * 100;
                                var value3 = 75 * 100;
                            }
                            else if (caffeine_names[i].name == "Latte Macchiato") {
                                imagesrc1 = "../static/images/tasse_latte_klein_icon.png"; 
                                imagesrc2 = "../static/images/tasse_latte_mittel_icon.png";
                                imagesrc3 = "../static/images/tasse_latte_groß_icon.png";
                                under1 = "160ml";
                                under2 = "250ml";
                                under3 = "400ml"; 
                                value1 = 160*100;
                                value2 = 250*100;
                                value3 = 400*100;
                            }
                            else if (caffeine_names[i].name == "Cappuccino") {
                                imagesrc1 = "../static/images/tasse_cappuccino_klein_icon.png"; 
                                imagesrc2 = "../static/images/tasse_cappuccino_mittel_icon.png";
                                imagesrc3 = "../static/images/tasse_cappuccino_groß_icon.png";
                                under1 = "140ml";
                                under2 = "160ml";
                                under3 = "200ml"; 
                                value1 = 140*100;
                                value2 = 160*100;
                                value3 = 200*100;
                            }
                            else {
                                imagesrc1 = "../static/images/tasse_klein_icon.png"; 
                                imagesrc2 = "../static/images/tasse_medium_icon.png";
                                imagesrc3 = "../static/images/tasse_groß_icon.png";
                                under1 = "150ml";
                                under2 = "250ml";
                                under3 = "350ml"; 
                                value1 = 150*100;
                                value2 = 250*100;
                                value3 = 350*100;
                            }
                                %>
                                <button class="caff-ml" name="caff_butt" type="submit"  value="<%= (value1 + (i+1)) %>"><img id = "tasse-1" class = "tassen" src="<%= imagesrc1 %>"></button>
                                <p class="under-caff-ml"><%= under1 %></p>

                                <button class="caff-ml" name="caff_butt" type="submit" value="<%= (value2 + (i+1)) %>"><img id = "tasse-2" class = "tassen" src="<%= imagesrc2 %>"></button>
                                <p class="under-caff-ml"><%= under2 %></p>

                                <button class="caff-ml" name="caff_butt" type="submit" value="<%= (value3 + (i+1)) %>"><img id = "tasse-3" class = "tassen" src="<%= imagesrc3 %>"></button>
                                <p class="under-caff-ml"><%= under3 %></p>

                                <div class = "input-ok">
                                    <input id="custom-ml-input" class="user-input" type="number" placeholder="100ml" min="0" max="3000" name="custom_ml[]" >
                                    <button name="caff_sub" id="caff_ok" class="ok" type="submit" form="caffeine-form" value="<%= (i+1) %>"></button>
                                </div>                                
                      </div>  
                    <% } %>                
                </form>  

                <div class="plus">
                    <button class="caff-ml" id="plus" onclick="openForm()">
                        <img id="addProduct-image" class="tassen" src="../static/images/plus.png">
                    </button>
                </div>
           </div>
        
           
           <div class = "popup-form" id = "popform">

               <div class="X"> <button class="ok" id="close" onclick="closeForm()">X</button> </div>
                <form action="/addCaffe" class = "popup-form-container" method = "POST">
                   
                    <h3 class="pop-caption">Neues Produkt</h3>
                
                    <div class="pop-text-div">
                    <label class ="pop-label" for="newCaff_name">Name</label><br>
                    <input type="text" name="newCaff_name">
                    </div>

                    <div class="pop-text-div">
                    <label class ="pop-label" for="newCaff_content">Koffein pro 100ml</label>
                    <input id = "koffein_pro" type="number" name="newCaff_content">
                    </div>
                    
                    <button type="submit" class="ok">Speichern</button>
                                       
                </form>
                
           </div>
           <script>
               function openForm() {
                   document.getElementById("popform").style.display = "flex";
               }

               function closeForm() {
                    document.getElementById("popform").style.display = "none";
               }
           </script>
        </div>        
    </body>
</html>