<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <title>REHUB</title>
    </head>
    <body>
        <div class = "page"> <!-- Anfang Page container-->


            <div class = "header"><!-- Anfang header container-->

                <h1>REHUB</h1>

            </div><!-- Ende header Container-->

            <div class= "wrapper">
            <div class = "main-slogan"><!-- Anfang mains container-->

                <h2>control your <br> consumption.</h2>

            </div><!-- Ende mains Container-->

            <hr>

            <div class = "main-buttons"><!-- Anfang mainb container-->
                <div id="button-wrapper">
                <a href = "login"><button class= "logbutton" type="button">LOGIN</button></a>
                <a href = "signup"><button class= "logbutton" type="button">SIGNUP</button></a>
            </div>
            </div><!--Ende mainb container-->
        </div>

        </div><!-- Ende page Container-->
    </body>
</html>