<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

    </head>
    <body>
        <div class ="page"><!-- Anfang Page container-->

            <div class = "header"><!-- Anfang header container-->
               
                <a class = "headerlink" href="/landing"><h1>REHUB</h1></a>
            </div><!-- Ende header Container-->

            <div class= "wrapper">
                <div class = "login_signup">
                    <div id="log">
                <h3>LOGIN</h3>
                
                <div class= "form-con">
                        
                <form id = log-form action="/login-req" method="POST"> <!-- mit der Action musst du dann im Server arbeiten-->

                  
                   <h4>E-mail:</h4> 
                   <input class="felder" type="email" name="mail" autocomplete="email">
                
                    <br>
                    <br>
                    <br>
        
        
                    <h4>Passwort:</h4> 
                    <input class="felder" type="password" name="password">

                    <span class= "err-message">
                        <% if (error == 1) { %> 
                            Login fehlgeschlagen!               
                        <% } if(error==2) { %>
                            Account existiert nicht!
                        <% } if(error==3) { %>
                            Daten eintragen!
                        <% } %>
                    </span>
                    
                </div>
                
                    <button class= "confirmbutt" type= "submit">Login</button>
                    
                   
                </form>
                        
                <a class ="regLink"  href="/signup">Noch kein Konto? - zur Registrierung</a>
            
            </div>
            </div>
            </div><!-- Ende Main-L -->

        </div><!-- Ende page Container-->

    </body>
</html>