<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon_nic.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>
            Nikotin
        </title>
    </head>
    <body>
        <div class = "page" id="nic-p"> <!-- Anfang Page container-->


            <div class = "header-p" id="nic-header"><!-- Anfang header container--> 

                
                <div class= "header_wrap">
                    
               <img id = "menbutton" class = "menbutton" src="../static/images/Hamburger_icon.svg.png" alt= "Menü-Button" >

                <a href="/profile" class="headerlink"><h1>REHUB</h1></a>
                <div class="filler">
                   <a class= "header-link-logout" href="/logout"><img class = "logout-button" src="../static/images/logout_icon.png"></a> 
                </div>
            </div>
            </div><!-- Ende header Container-->

            <script>

            document.getElementById("menbutton").addEventListener("click", toggleMenu);

            function toggleMenu(){
                var width = document.getElementById("SideNavigation").style.width;
                if(width >= "1px"){
                   return closeNav();
                }
                return openNav();
            
            }
            
            function openNav(){    
                document.getElementById("SideNavigation").style.width = "370px";
            }

            function closeNav(){
                document.getElementById("SideNavigation").style.width = "0";   
            }

            function startAni(id) {
                let elem = document.getElementById(id);
                elem.style.animation = "schachtel_öffnen 1.2s steps(12)";
                setTimeout(function(){
                    elem.style.animation = "null";
                },1200)
            }

        </script>
        <% 
        const time = new Date();
        let today = (Math.round(time.getTime()/86400000));
        
        let days_db = [];

        let days = [];
        let days_month = [];

        let new_zig = []; 
        let new_zig_month = [];

        for (const elem of zigCount) {
            days_db.push(elem.date);
        }

        //Monat Nicotin
        for (let i = (today-29); i <= today; i++) {
            days_month.push(i);
        }
        for(const elem of days_month){
            if (days_db.includes(String(elem))==false) {
                new_zig_month.push(0);
            }
            else if (days_db.includes(String(elem))==true){
                for(const elem2 of zigCount){
                    if (elem2.date == elem) {
                        new_zig_month.push(elem2.zig); 
                    }
                }
            }
        }

        //Woche Nicotin
        for (let i = (today-6); i <= today; i++) {
                days.push(i);
            }
            
            for(const elem of days){
                if (days_db.includes(String(elem))==false) {
                    new_zig.push(0);
                }
                else if (days_db.includes(String(elem))==true){
                    for(const elem2 of zigCount){
                        if (elem2.date == elem ) {
                                new_zig.push(elem2.zig);
                            }
                            
                        }
                    }
                else {
                    new_zig.push(0);
                    }

            }
                
            
            %>

            <div id = "SideNavigation" class="sidenav-nic">
                <a class = "nav-link" href="/profile">Profil</a>
                <a class = "nav-link"href="/statistic">Statistik</a>
                <a class = "nav-link"href="/caffeine">Koffein</a>
                <a class = "nav-link"href="/alcohol">Alkohol</a>
                <a class = "nav-link"href="/nicotin">Nikotin</a>
            </div>
            
           <div class="subside-wrapper" id="nic">
            <div class="nicWrapper" id="nW">

                <div class="caffCharts-con" id = "nicChart1">
                    <canvas id="nicChart-week"></canvas>
                </div>

                <div class="caffCharts-con" id = "nicChart2">
                    <canvas id="nicChart-month"></canvas>
                </div>
                </div>
                
                <div class="nicWrapper" id="schachtelWrapper">
                    <img id = "click-img" src="../static/images/Klickhinweis.png" alt="Klickhinweis">
                <div class="schachtel" id="schachtel-nic-id">
                    <form class="nic-form" action="/nic_entry" method="POST">
                        <button class="nic-butt" name="nic_button" type="submit" value="1">
                    <img id="ani-dev" onclick="startAni('ani-dev')" class="schachtel_sprite" src= "../static/images/schachtel-13.png">
                        </button>
                    </form>
                </div>
                </div>
            </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            let data = <%- JSON.stringify(new_zig) %>;
            let data_month = <%- JSON.stringify(new_zig_month) %>;

            let days_week = [];
            let days_month = [];
           
            // Tage Woche
            <% for (let i = 1; i < 8; i++) { %>
                days_week.push("Tag " + <%= i %>);
            // Tage Monat
            <% } for(let i = 1; i <= 30; i++) { %>
                days_month.push("Tag " + <%= i %>);
            <% } %>

            var ctx = document.getElementById('nicChart-week').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_week,
                datasets: [{
                    label: 'Zigaretten',
                    backgroundColor: '#FFCB9E',
                    borderColor: '#FFCB9E',
                    data: data
                },
            ]
            },
                options: {
                    title: {
                        display: true,
                        text: 'Wochenrückblick Nikotin',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#BD5800",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });
            
            var ctx = document.getElementById('nicChart-month').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_month,
                datasets: [{
                    label: 'Zigaretten',
                    backgroundColor: '#FFCB9E',
                    borderColor: '#FFCB9E',
                    data: data_month
                },
            ]
            },
                options: {
                    title: {
                        display: true,
                        text: 'Monatsrückblick Nikotin',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#BD5800",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });
        </script>
    </body>
</html>