<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <title>Mein Profil</title>
    </head>
    <body>
        <div class = "page"> <!-- Anfang Page container-->


            <div class = "header-p"><!-- Anfang header container--> 

                
                <div class= "header_wrap">
                    
               <img id = "menbutton" class = "menbutton" src="../static/images/Hamburger_icon.svg.png" alt= "Menü-Button" >

                <h1>REHUB</h1>
                <div class="filler">
                   <a class= "header-link-logout" href="/logout"><img class = "logout-button" src="../static/images/logout_icon.png"></a> 
                </div>
            </div>
            </div><!-- Ende header Container-->

            <script>

            document.getElementById("menbutton").addEventListener("click", toggleMenu);

            function toggleMenu(){
                var width = document.getElementById("SideNavigation").style.width;
                if(width >= "1px"){
                   return closeNav();
                }
                return openNav();
            
            }
            
            function openNav(){    
                document.getElementById("SideNavigation").style.width = "370px";
            }

            function closeNav(){
                document.getElementById("SideNavigation").style.width = "0";   
            }
            
            
        </script>
    

            <div id = "SideNavigation" class="sidenav">
                <a class = "nav-link" href="/profile">Profil</a>
                <a class = "nav-link"href="/statistic">Statistik</a>
                <a class = "nav-link"href="/caffeine">Koffein</a>
                <a class = "nav-link"href="/alcohol">Alkohol</a>
                <a class = "nav-link"href="/nicotin">Nikotin</a>
            </div>

           <div class="subside-wrapper" id="swp">
            <%
            // Funktion um alles vor @ aus der Email zu bekommen  
                var userm = "";
                for(var i = 0; i < user.length; i++){
                if (user.charAt(i) != "@"){
                    userm += user.charAt(i);
                }
                else{
                    break;
                }
            } 
            %>

           <p id = "userbeg"> Hallo  <%= userm %>!</p>

            <img class = "silouette" 
            <% if(user_g_o == "male" || user_g_o == null) { %>
                src = "../static/images/silouette_mann.png">
            <% } else { %>
                src = "../static/images/silouette_frau.png">
            <% } %>
            <div class= "content" id="cont-pro">
        
                <form id = "user-data-form" method="POST" action="/user-data-entry">
                    
                    <div class="input-fix">
                    <h4 class="input-caption">Gewicht(kg)</h4>
                    <input class="user-input" value="<%= user_w_o %>" type="number" name="user_weight">
                    </div>
                   
                    <div class="input-fix">
                    <h4 class="input-caption">Größe(cm)</h4>
                    <input id = "gr-in" value="<%= user_h_o %>" class="user-input" type="number" name="user_height">
                    </div>

                    <div class="input-fix">
                    <h4 class="input-caption">Alter</h4>
                    <input class="user-input" value="<%= user_a_o %>" type="number"  name="user_age" min="0" max="99"> 
                    </div>
                 
                    <div class="input-fix">
                    <h4 class="input-caption">Geschlecht</h4>
                    <label class="gender-label" for="male">
                    <input class="radio-in" type="radio" id = "male" name="user_gender" value="male" 
                    <% if(user_g_o == "male" || user_g_o == null){ %>
                        checked = "checked"
                    <% } %> >
                    männlich
                    </label>
                    <label class="gender-label" for="female">
                    <input class="radio-in" type="radio" id = "female" name="user_gender" value="female"
                    <% if(user_g_o == "female" ){ %>
                        checked = "checked"
                    <% } %> >
                    weiblich
                    </label>
                        </div>
                    
              </form>  
            <button id="p-ok-button" class="ok" type="submit" form="user-data-form">OK</button>

           </div>

            
        </div>
    </div>
    </body>
</html>