<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

    </head>
    <body>
        <div class ="page"><!-- Anfang Page container-->

            <div class = "header"><!-- Anfang header container-->

               <a class = "headerlink" href = "/landing"><h1>REHUB</h1></a> 

            </div><!-- Ende header Container-->

            <div class= "wrapper">

                <div class= "login_signup">
                    <div id = "sign">
                <h3>SIGNUP</h3>
                <div class= "form-con">

                <form id="sign-form" method="POST" action="/signup"> <!-- mit der Action musst du dann im Server arbeiten-->

                   <h4>E-mail:</h4> 
                   <input class = "s-felder" type="email" name="mail" autocomplete="email" required>

                    

                    <h4>Passwort:</h4> 
                    <input class = "s-felder" type="password" name="password" required>


                    <h4>Wiederholung:</h4> 
                    <input class = "s-felder" type="password" name="password_confirm" required>
                    
                    <span class= "err-message">
                        <% if (error == 1) { %> 
                            Account existiert bereits!               
                        <% } if(error == 2) { %>
                            Passwörter ungleich!
                        <%  } if(error == 3) { %>
                            Daten eintragen!
                        <% } %>
        
                    </span>
                </div>

                  <button class="confirmbutt" type="submit">Signup</button>
                </form>
                    
                
                
                    
                    
                
                <a class ="regLink"  href="/login">Schon ein Konto? - zum Login</a>
            </div>
            </div>
            </div><!-- Ende Main-L -->

        </div><!-- Ende page Container-->

    </body>
</html>