<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>
            Meine Statistiken
        </title>
    </head>
    <body>
        <div class = "page"> <!-- Anfang Page container-->


            <div class = "header-p"><!-- Anfang header container--> 

                
                <div class= "header_wrap">
                    
               <img id = "menbutton" class = "menbutton" src="../static/images/Hamburger_icon.svg.png" alt= "Menü-Button" >

                <a href="/profile" class="headerlink"><h1>REHUB</h1></a>
                <div class="filler">
                   <a class= "header-link-logout" href="/logout"><img class = "logout-button" src="../static/images/logout_icon.png"></a> 
                </div>
            </div>
            </div><!-- Ende header Container-->

            <script>

            document.getElementById("menbutton").addEventListener("click", toggleMenu);

            function toggleMenu(){
                var width = document.getElementById("SideNavigation").style.width;
                if(width >= "1px"){
                   return closeNav();
                }
                return openNav();
            
            }
            
            function openNav(){    
                document.getElementById("SideNavigation").style.width = "370px";
            }

            function closeNav(){
                document.getElementById("SideNavigation").style.width = "0";   
            }
            
        </script>
        <% 
            const time = new Date();
            let today = (Math.round(time.getTime()/86400000));
            
            let days_db = [];
            let new_days = [];

            let days = [];
            let days_month = [];

            let new_totals = []; 
            let new_totals_month = [];

            let new_totals_alc = []; 
            let new_totals_month_alc = [];

            

            for (const elem of totals) {
                days_db.push(elem.date);
                        }

            //Monat Caffeine
            for (let i = (today-29); i <= today; i++) {
                days_month.push(i);
            }

            for(const elem of days_month){
                if (days_db.includes(String(elem))==false) {
                    new_totals_month.push(0);
                    new_totals_month_alc.push(0);
                }
                else if (days_db.includes(String(elem))==true){
                    for(const elem2 of totals){
                        if (elem2.date == elem) {
                            if (elem2.total != null) {
                                new_totals_month.push(elem2.total);
                                new_totals_month_alc.push(elem2.alctotal);
                            }
                        }
                    }
                }
            }
        
            //Woche Caffeine
            for (let i = (today-6); i <= today; i++) {
                days.push(i);
            }
            
            for(const elem of days){
                if (days_db.includes(String(elem))==false) {
                    new_totals.push(0);
                    new_totals_alc.push(0);
                }
               
                else if (days_db.includes(String(elem))==true){
                    for(const elem2 of totals){
                        if (elem2.date == elem ) {
                            if (elem2.total != null) { 
                                new_totals.push(elem2.total);
                                new_totals_alc.push(elem2.alctotal);
                            }
                        }
                    }
                }
            }
             
            let maxCaff = userWeight *5.7;

             if(userWeight == undefined) {
                maxCaff = 400;
            }
            let  maxCaffs = [];
            let  maxCaffs_month = [];

            for (let i = 0; i < 7; i++){
                maxCaffs.push(maxCaff); 
            }
            for (let i = 0; i < 30; i++){
                maxCaffs.push(maxCaff); 
            }
            
            %>

            <div id = "SideNavigation" class="sidenav">
                <a class = "nav-link" href="/profile">Profil</a>
                <a class = "nav-link"href="/statistic">Statistik</a>
                <a class = "nav-link"href="/caffeine">Koffein</a>
                <a class = "nav-link"href="/alcohol">Alkohol</a>
                <a class = "nav-link"href="/nicotin">Nikotin</a>
            </div>

           <div class="subside-wrapper">
               <div class="chart-container" id="cc">

                    <div class="chartWrapper" id = "cW1">
                
                        <div class="caffCharts-con" id="cCc">
                            <canvas id="caffChart-week"> </canvas>
                        </div>

                        <div class="caffCharts-con" id="cCc1">
                            <canvas id="caffChart-month"> </canvas>
                        </div>
                    
                    </div>

                    <div class="chartWrapper" id = "cW2">

                        <div class="caffCharts-con" id="cCc2">
                            <canvas id = "alcChart-week"></canvas>
                        </div>

                        <div class="caffCharts-con" id="cCc3">
                            <canvas id = "alcChart-month"></canvas>
                        </div>

                    </div>
        
        
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            
            let data = <%- JSON.stringify(new_totals) %>;
            let data_month = <%- JSON.stringify(new_totals_month) %>;

            let data_alc = <%- JSON.stringify(new_totals_alc) %>;
            let data_month_alc = <%- JSON.stringify(new_totals_month_alc) %>;
            let maxCaffdata = <%- JSON.stringify(maxCaffs) %>;

            let days_week = [];
            let days_month = [];
           
            // Tage Woche
            <% for (let i = 1; i < 8; i++) { %>
                days_week.push("Tag " + <%= i %>);
            // Tage Monat
            <% } for(let i = 1; i <= 30; i++) { %>
                days_month.push("Tag " + <%= i %>);
            <% } %>
                
            

            var ctx = document.getElementById('caffChart-week').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_week,
                datasets: [{
                    label: 'Koffein in mg',
                    backgroundColor: '#E3CEC4',
                    borderColor: '#E3CEC4',
                    data: data
                },

                {
                    label: 'maximale empfohlene Tagesdosis',
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgb(255, 0, 0)',
                    data: maxCaffdata,
                    pointRadius: 0,
                },
                
            ]
            }
            ,

                options: {
                    title: {
                        display: true,
                        text: 'Wochenrückblick Koffein',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#9C6944",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });

            var ctx = document.getElementById('caffChart-month').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_month,
                datasets: [{
                    label: 'Koffein in mg',
                    backgroundColor: '#E3CEC4',
                    borderColor: '#E3CEC4',
                    data: data_month
                },
                {
                    label: 'maximale empfohlene Tagesdosis',
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgb(255, 0, 0)',
                    data: maxCaffdata,
                    pointRadius: 0,
                },     
            ]
            },
                options: {
                    title: {
                        display: true,
                        text: 'Monatsrückblick Koffein',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#9C6944",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });

            var ctx = document.getElementById('alcChart-week').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_week,
                datasets: [{
                    label: 'Alkohol in ml',
                    backgroundColor: '#E0949D',
                    borderColor: '#E0949D',
                    data: data_alc
                },
            ]
            },
                options: {
                    title: {
                        display: true,
                        text: 'Wochenrückblick Alkohol',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#932A38",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });

            var ctx = document.getElementById('alcChart-month').getContext('2d');
            var chart = new Chart(ctx, {
           
            type: 'line',

            data: {
                labels: days_month,
                datasets: [{
                    label: 'Alkohol in ml',
                    backgroundColor: '#E0949D',
                    borderColor: '#E0949D',
                    data: data_month_alc
                },
            ]
            },
                options: {
                    title: {
                        display: true,
                        text: 'Monatsrückblick Alkohol',
                        fontFamily: "'Roboto'",
                        fontSize: "30",
                        fontStyle: "Lighter",
                        fontColor: "#932A38",
                    },
                    legend: {
                        labels: {
                            fontFamily: "'Roboto'",
                        }
                    }
                }
            });
        
        </script>
      
           </div>
        </div>
    </div>
    </body>
</html>