/* Variable für Maincolor */
:root{
    --main-font-captions: 'Servetica-Heavy'; 
    --main-font-text: 'Roboto', sans-serif;
    --main-color-nosub: #418168;
    --main-color-caff: #9C6944;
    --supp-color-caff: #E3CEC4;
    --main-color-alc: #932A38;
    --supp-color-alc: #E0949D;
    --main-color-nic: #BD5800;
    --supp-color-nic: #FFCB9E;
}
/* Font von Server */
@font-face {
    font-family: 'Servetica-Heavy';
    src:url('../fonts/Servetica-Heavy.ttf.woff') format('woff'),
        url('../fonts/Servetica-Heavy.ttf.svg#Servetica-Heavy') format('svg'),
        url('../fonts/Servetica-Heavy.ttf.eot'),
        url('../fonts/Servetica-Heavy.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/* Anpassungen für Schmale Fenster */
@media (max-width: 1000px) {
        #cW1, #cW2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            
        }
        #cW1 {
            margin-top: calc(105% + 91px);
        }
        #cc {
            width: 100%;
            overflow-y: auto;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
        }
        #cCc, #cCc1, #cCc2, #cCc3 {
            align-content: center;
            height: 100%;
            width: 100%;
        }
        #swp {
            overflow-y: auto;
        }
        #p-ok-button {
            margin-bottom: 0;
            margin-top: 12%;
        }
        #cont-pro, #user-data-form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
        #user-data-form {
            width: 100vw;
            height: 20vw;
        }
       
  }


html{
    font-size: 100%;
    display: flex;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header{
    display: flex;
    background-color: var(--main-color-nosub);
    order: 1;
    position: fixed;
    height: 91px;
    width: 100vw;
    justify-content: center;

}
/* linke Seite Main */
.main-slogan{
    display: flex;
    order: 2;
    height: 90vh;
    width: 49.9vw;
    justify-content: center;
    align-items: center;
}

hr {
    order: 3;
    background-color:var(--main-color-nosub);
    width: 1px;
    height: 700px;
    border-width: 0;
    margin-top: 3%;
    padding: 0;
}

.wrapper {
    order: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    padding-top:91px;
    flex-wrap: wrap;
    justify-content: center;
}

/* rechte Seite Main */
.main-buttons{
    display: flex;
    flex-direction: column;
    order: 4;
    align-items: center;
    justify-content: center;
    width: 49.9vw;
}
#button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}

/* REHUB */
h1{
    font-family: var(--main-font-captions);
    color: white;
    font-size: 5rem;
    letter-spacing: -5px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

/* Slogan */
h2{
    font-family: var(--main-font-captions);
    color: var(--main-color-nosub);
    font-size: 4rem;
}

/*  login und signup button */
button.logbutton{
    width: 25vw;
    height: 15vh;
    border-width: 1px;

    font-family: var(--main-font-text);
    text-align: center;
    font-size: 40px;
  
    border-color: var(--main-color-nosub);
    color: var(--main-color-nosub);
    background-color: white;

    transition-duration: 0.4s;
    cursor: pointer;
}

button.logbutton:hover {
    background-color: var(--main-color-nosub);
    color: white;
}

/* login signup */
h3{
    font-family: var(--main-font-text);
    font-weight: lighter;
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    font-size: 60px;
    color: var(--main-color-nosub);
}

h4{
    font-family: var(--main-font-text);
    font-size:30px;
    font-weight: lighter;
    color: var(--main-color-nosub);  
    padding: 0;
    margin: 0;
}

a.headerlink{
    text-decoration: none;
    width: min-content;
    color: white;
}
/* OK Button login/signup */
.confirmbutt{
    border-color: var(--main-color-nosub);
    border-radius: 50px;
    background-color: white;
    border-width: 1px;
    width: 25%;
    height: 10%;
    color: var(--main-color-nosub);
    transition-duration: 0.4s;
    font-family: var(--main-font-text);
    font-size: 26px;
    font-weight: lighter;  
    margin-top: 50px;
}

.confirmbutt:hover{
    color: white;
    background-color: var(--main-color-nosub);
    cursor: pointer;
}

/* Übercontainer für login/signup */
.login_signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 90vh;
    justify-content: space-around;
}
/* Container mit Schatten für login/signup */
#log, #sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    box-shadow: 0 5px 10px 5px grey;
}
.sign-form{
    padding-bottom: 40px;
}
/* Container für Login/Signup Form  */
.form-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20%;
    width: 50%;
    padding-bottom: 50px;
}
/* Input-Felder */
.felder {
    width: 100%;
    height: 20%;
}
.felder:focus, .s-felder:focus{
    box-shadow: 0 0 3px 1px var(--main-color-nosub);
    -webkit-box-shadow: 0 0 3px 1px var(--main-color-nosub);
    outline: none;
    border: solid 2px var(--main-color-nosub);
    padding-left: 2%;
}

/* Error Message beim Login/Signup */
.err-message{
    color: red;
    font-family: var(--main-font-text);
    padding: 0;
    margin: 0;
}

/* Unterer Link zu Login/Signup */
.regLink{
    font-family: var(--main-font-text);
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: var(--main-color-nosub);
}

.regLink:visited{
    color: var(--main-color-nosub);
}

.s-felder{
    width:100%;
    height: 16%;
}

/* Profile */
/* Profile header */
.header-p{
    display: flex;
    background-color: var(--main-color-nosub);
    order: 1;
    position: fixed;
    height: 91px;
    width: 100vw;
    justify-content: center;

}
/* Userbegrüßung text */
#userbeg{
    font-family: var(--main-font-text);
    font-size: 3rem;
    color: var(--main-color-nosub);
    font-weight: lighter;
}
/* Hamburger Menü Button */
.menbutton{
    width: 90px;
    height: 90px;
    transition: 0.4s;
}
.menbutton:hover{
    cursor: pointer;
}

/* Wrap Container in Header */
.header_wrap{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
/* Einrückung für Logout Button und REHUB */
.filler{
    display: flex;
    width:90px;
    align-items: center;
    justify-content: flex-end;
}

/* Seitenmenü */
.sidenav{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 0;
    z-index: 1;
    top: 91px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 10px 0px 10px -5px grey;
}
/* Links im Seitenmenü */
.nav-link{
    text-decoration: none;
    width: 80%;
    height: max-content;
    text-align: center;
    align-items: center;
    margin-bottom: 2%;
    transition: 0.4s;
    font-family: var(--main-font-text);
    font-size: 3rem;
    font-weight: lighter;
    color: var(--main-color-nosub);
}

.nav-link:visited{
    color: var(--main-color-nosub);
}

.nav-link:hover{
    color: white;
    background-color: var(--main-color-nosub);
    border-radius: 42px;
}

/* Profilbild Silouette im Profil */
.silouette{
    width: 150px;
    height: 180px;
    border: 2px solid var(--main-color-nosub);
    box-shadow: inset 0px 0px 25px 0px grey;
}

/* Wrapper für Profilinhalt  */
.subside-wrapper{
    display: flex;
    padding-top: 91px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
}

/* Inhalt von Profil */
.content{
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;
    width: 80%;
}

.logout-button{
    width: auto;
    height: 65px;
}

.logout-button:hover{
    cursor: pointer;
}

/* Formular für Benutzerdaten */
#user-data-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

/* Wrapper dür Inputs */
.input-fix{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 60%;
}

/* Überschrift für Inputs */
h4.input-caption{
    font-family: var(--main-font-text);
    font-size: 30px;
    font-weight: lighter;
    color: var(--main-color-nosub); 
    margin-bottom: 8%;
}

/* Button zum absenden der Benutzerdaten */
button.ok{
    margin-bottom: 20%;
    width: 10%;
    height: 10%;
    font-family: var(--main-font-text);
    font-size: 20px;
    color: var(--main-color-nosub);
    background-color: white;    
    border: solid 1px var(--main-color-nosub);
    border-radius: 42px;
}
button.ok:hover{
    cursor: pointer;
    color: white;
    background-color: var(--main-color-nosub);
}

/* Link auf Logoutbutton */
a.header-link-logout{
    text-decoration: none;
    width: min-content;
    height: min-content;
    margin-right: 5%;
}

/* Inputfelder im Benutzerdaten Formular */
input.user-input{
    font-family: var(--main-font-text);
    font-size: 20px;
    font-weight: lighter;
    color: var(--main-color-nosub);
    border: solid 2px var(--main-color-nosub);
    padding-left: 3%;
    -moz-appearance: textfield;
}

input.user-input:focus{
    box-shadow: 0 0 3px 1px var(--main-color-nosub);
}

input.user-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* Radio Buttons für Geschlechtsauswahl */
.radio-in{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: solid 1px var(--main-color-nosub);
    border-radius: 50%;
    cursor: pointer;
    background: white;
    margin-right: 3%;
}

.radio-in:checked{
    background: var(--main-color-nosub);
}

/* männlich/weiblich */
.gender-label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--main-font-text);
    color: var(--main-color-nosub);
    margin-bottom: 4%;
}

/* Koffein seite*/
/* Wrapper für Koffein Inhalt */
.subside-wrapper-caff{
    display: flex;
    padding-top: 91px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 90%;
}

/*Koffein Header  */
#caff-header{
    background-color: var(--main-color-caff);
}

/* Formular für Eintragung der Substanzen */
.substance-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 65%;
    align-items: baseline;
    margin-top: 3%;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

/* Buttons mit Vorgefertigten Values */
.caff-ml {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30%;
}
.caff-ml:hover {
    background-color: var(--supp-color-caff);
    border-radius: 30%;
}

/* Buttons für ml Werte die nicht in vorgefertigten Buttons
   enthalten sind */
#custom-ml-input, #custom-ml-input_alc {
    color: var(--main-color-caff);
    border: solid 2px var(--main-color-caff);
    width: 30%;
    font-weight: normal;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    align-items: center;
}
#custom-ml-input:focus {
    box-shadow: 0 0 3px 1px var(--main-color-caff);
}
/* Wrapper für Checkbutton und Ml-Input */
.input-ok {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    margin-bottom: 2%;
}

/* Icons für Tassen */
.tassen{
    width: 100px;
    height: auto;
}

/* Wrapper für Koffein Inputs */
.input-fix-caff{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 60%;
    margin-right: 1%;
}

/* Beschreibungen für Icons  */
p.under-caff-ml{
    font-family: var(--main-font-text);
    color: var(--main-color-caff);
    margin-top: 0;
}

/* Überschrift für Inputs */
h4.input-caption-caff{
    font-family: var(--main-font-text);
    font-size: 30px;
    font-weight: lighter;
    color: var(--main-color-caff); 
    margin-bottom: 8%;
}

/* Seitenmenü */
.sidenav-caff, .sidenav-alc, .sidenav-nic {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 0;
    z-index: 1;
    top: 91px;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(255, 248, 245);
    transition: 0.5s;
    box-shadow: 10px 0px 10px -5px grey;
}

/* Farbige Anpassung für Links im Seitenmenü */
.sidenav-caff > a.nav-link {
    color: var(--main-color-caff);
}

/* Farbige Anpassung für Link-Hover im Seitenmenü */
.sidenav-caff > a.nav-link:hover {
    background-color: var(--main-color-caff);
    color: white;
}

/* Kleine checkButtons neben ml Eintragung  */
#caff_ok, #alc_ok {
    margin-bottom: 0;
    margin-left: 2%;
    padding: 0;
    color: var(--main-color-caff);    
    border: none;
    border-radius: 10%;
    font-size: 12px;
    text-align: center;
    height: 100%;
    background-image: url('../images/checkmark_caff_braun.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
}

#caff_ok:hover, #alc_ok:hover {
    color: white;
    background-color: var(--main-color-caff);
    background-image: url('../images/checkmark_caff_weiß.png');
} 

#alc_ok:hover{
    background-color: var(--main-color-alc);
}

/* Page container auf Koffein */
#caff-p {
    overflow: hidden;
}

/* Container für Plusbutton auf der rechten Seite */
.plus {
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/* Plusbutton */
#plus {
    background: none;
}

/* Plus Icon für Button */
#addProduct-image, #addProduct-image-alc {
    background: none;
    transition: 0.4s;
}

#addProduct-image:hover {
    background-color: var(--supp-color-caff);
}

#addProduct-image-alc:hover {
    background-color: var(--supp-color-alc);
}

/* Container für Pop-Up Formular */
.popup-form {
    width: 500px;
    height: 70vh;
    display: none; 
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    bottom: 10%;
    right: calc(50% - 250px);
    z-index: 9;
    background-color: white;
    box-shadow: 0 5px 10px 5px grey;
}

/* Überschrift in Pop-Up Formular */
.pop-caption {
    color: var(--main-color-caff);
    margin-top: 0;
}

/* container für schließen Button */
.X {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: right;
} 

/* Schließen Button */
.popup-form #close {
    color: var(--main-color-caff);
    border-color: var(--main-color-caff);
    width: 6.5%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
}

/* Formular in Pop-Up */
.popup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
}

/* Ok Button in Pop-Up */
.popup-form-container > .ok {
    color: var(--main-color-caff);
    border-color: var(--main-color-caff);
    width: 30%;
    margin-bottom: 0;
}

.popup-form-container .ok:hover, .popup-form #close:hover {
    color: white;
    background-color: var(--main-color-caff);
}

/* Wrapper für inputs */
.pop-text-div {
    width: 50%;
}

/* Inputs in Pop-Up */
.popup-form-container input[type=text], #koffein_pro, #alkohol_pro {
    width: 100%;
    padding: 15px;
    border: solid 1px var(--main-color-caff);
    margin-top: 3%;
}

.popup-form-container input[type=text]:focus, #koffein_pro:focus {
    box-shadow: 0 0 3px 1px var(--main-color-caff);
    outline: none;
}

/* Labels für Inputs  */
.pop-label {
    font-family: var(--main-font-text);
    color: var(--main-color-caff);
    font-size: 20px;
}

/* Alcohol */

/* Farbanpassung für Alcohol Header */
#header-alc {
    background-color: var(--main-color-alc);
}

/* Farbanpassung für Seitenmenü Hintergrund */
.sidenav-alc {
    background-color: rgb(240, 230, 231);
}

/* Farbanpassung für Links im Seitenmenü */
.sidenav-alc > a.nav-link {
    color: var(--main-color-alc);
}

.sidenav-alc > a.nav-link:hover {
    background-color: var(--main-color-alc);
    color: white;
}

/* Rote Checkbuttons für Custom Ml-Einträge */
#alc_ok {
    background-image: url('../images/checkmark_caff_rot.png');
}

#alc-caption, #under-alc, #custom-ml-input_alc {
    color: var(--main-color-alc);
}

#custom-ml-input_alc {
    border-color: var(--main-color-alc);
}

#custom-ml-input_alc:focus {
    box-shadow: 0 0 3px 1px var(--main-color-alc);
}

/* Farbanpassung für Schnellsende Buttons */
#alc-ml:hover {
    background-color: var(--supp-color-alc);
    border-radius: 30%;
}

/* Farbanpassung im Pop-Up Formular */
#popform-alc .pop-caption, #popform-alc .pop-label {
    color: var(--main-color-alc);
}

#popform-alc > .popup-form-container input[type=text]:focus, #alkohol_pro:focus {
    box-shadow: 0 0 3px 1px var(--main-color-alc);
    outline: none;
} 

#popform-alc > .popup-form-container input[type=text], #alkohol_pro {
    border-color: var(--main-color-alc);
} 

#popform-alc  .ok {
    color: var(--main-color-alc);
    border-color: var(--main-color-alc);
}
#popform-alc  .ok:hover {
    color: white;
    background-color: var(--main-color-alc);
}

/*  Statistic */
/* Container für Kurvendiagramme */
.chart-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Wrapper für jeweils 2 Kurvendiagramme */
.chartWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

/* Container für die jeweiligen Kurvendiagramme */
.caffCharts-con {
    width: 46%;
    height: 45vh;
    display: flex;
}


/* Nikotin */
/* Farbanpassung für header */
#nic-header {
    background-color: var(--main-color-nic);
}

/* Farbanpassung für Seitenmenü */
.sidenav-nic {
    background-color: rgb(255, 241, 230);
}

/* Container für Nikotin Inhalt */
#nic{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/* Kurvendiagramme */
#nicChart1, #nicChart2 {
    width: 80%;
}

/* Wrapper für Kurvendiagramme */
.nicWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

/* Wrapper für Schachtel auf der linken Seite */
#schachtelWrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Hinweis auf Schachtel */
#click-img {
    height: auto;
    width: 40%;
}

/* Farbanpassungen für Seitenmenü */
.sidenav-nic > a.nav-link {
    color: var(--main-color-nic);
}

.sidenav-nic > a.nav-link:hover {
    background-color: var(--main-color-nic);
    color: white;
}

/* Container für Schachtel*/
.schachtel {
    align-self: flex-start;
    width: 299.944px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

/* Schachtel-Bild */
.schachtel_sprite {
    animation: none;
    z-index: 1;
}

.schachtel_sprite:hover {
    cursor: pointer;
}

/* Button auf Schachtel zum absenden an db */
.nic-butt {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

/* Umrandung der Schachtel nach Klick entfernen */
.nic-butt::-moz-focus-inner {
    border: 0 none transparent;
}

/* Animation für die Schachtel */
@keyframes schachtel_öffnen {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}